

<table>
<tr>
  <td>Estadisticas</td>
</tr>
<tr><td>NumPreguntas: <%= statistics.questions  %></td></tr>
<tr><td>NumComentarios: <%= statistics.comments  %></td></tr>
<tr><td>Media de comentarios: <%= statistics.average_comments  %></td></tr>
<tr><td>Preguntas no comentadas: <%= statistics.no_commented  %></td></tr>
<tr><td>Preguntas comentadas: <%= statistics.commented_questions  %></td></tr>
</table>
